<h1>Starfall Missile</h1>
<p>Submitted by Pyritie</p>
<p>Uploaded on 2008-04-12</p>
<p>Tags: Missile, Night Elf</p>
<p>Filesize: 14.64 KB</p>
<p>Last edited on 2008-04-12</p>
<h2>Starfall Missile</h2>
<p>Filesize: 14.64 KB</p>
<p>Filename: StarfallTarget2.mdx</p>
<h2>Description</h2>
<p>Made for War of the Ancients. It&#039;s basically the Starfall &lt;Target&gt; effect, but without the falling.<br />
<br />
<b>Keywords:</b><br />
star fall starfall moon</p>
